In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('ecommerce-data.csv',encoding='UTF-8')
df.head()

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
0,2023-09-14,Nathaniel,Electronics,Camera,0.01,Colleen Kelly,maryhurst@example.org,"354 Mcdowell Turnpike, Port Charles, CT 95318",908.610.2711x8507,Silver,...,6538306661,and Sons,Ground,49,31965.15,121.07,31844.08,475,127,348
1,2023-02-11,NonExistentProduct,Electronics,Mobile,847.43,Joel Wright,sandersvictoria@example.org,"24740 Fox Villages, New Tracie, MA 53038",+1-408-938-0389x952,Gold,...,NaN,PLC,Air,73,61862.39,91.09,61771.30,487,243,244
2,2021-11-12,Angela,InvalidCategory,Action Figures,386.57,Thomas Sawyer,ospence@example.net,"769 Joe Trail, East Terri, CA 43813",001-929-516-1919x39288,Gold,...,+1-588-750-7646,PLC,Sea,89,34404.73,10.56,34394.17,341,188,153
3,11-15-2021,Amy,Home & Garden,Decor,364.01,Tyler Gardner,christopherjohnson@example.com,"27783 Olivia Centers, Williamsmouth, AL 09809",8907712983,Gold,...,805-650-6257x5876,LLC,Air,3,1092.03,69.06,1022.97,500,124,376
4,2023-04-22,Nathaniel,Electronics,Camera,652.35,Meagan Peterson,epowell@example.net,"25357 Blackwell Locks, Andreabury, MH 27857",9999921886,Gold,...,6538306661,Ltd,Sea,75,48926.25,137.17,48789.08,429,351,78

In [3]:
df.describe()

,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
count,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000
mean,50.827146,28851.529621,86.425236,28765.104385,277.074052,139.116966,137.957086
std,28.523303,23139.578225,70.574899,23112.635714,130.330697,111.016370,110.360693
min,1.000000,46.230000,0.010000,33.600000,50.000000,1.000000,0.000000
25%,26.000000,8864.130000,25.685000,8774.435000,164.000000,49.000000,49.000000
50%,50.000000,23546.135000,69.345000,23424.750000,279.000000,109.000000,107.000000
75%,76.000000,42985.950000,129.277500,42886.600000,393.000000,209.000000,206.000000
max,100.000000,99513.000000,298.110000,99276.950000,500.000000,498.000000,490.000000

In [4]:
df.columns

Index(['Date', 'ProductName', 'ProductCategory', 'ProductSubCategory',
       'ProductPrice', 'CustomerName', 'CustomerEmail', 'CustomerAddress',
       'CustomerPhone', 'CustomerSegment', 'SupplierName', 'SupplierLocation',
       'SupplierContact', 'ShipperName', 'ShippingMethod', 'QuantitySold',
       'TotalAmount', 'DiscountAmount', 'NetAmount', 'StockReceived',
       'StockSold', 'StockOnHand'],
      dtype='object')

In [5]:
print(df.isnull().sum(axis=0))

Date                    0
ProductName             0
ProductCategory         0
ProductSubCategory      0
ProductPrice            0
CustomerName            0
CustomerEmail         507
CustomerAddress         0
CustomerPhone           0
CustomerSegment         0
SupplierName            0
SupplierLocation        0
SupplierContact       484
ShipperName             0
ShippingMethod          0
QuantitySold            0
TotalAmount             0
DiscountAmount          0
NetAmount               0
StockReceived           0
StockSold               0
StockOnHand             0
dtype: int64

In [6]:
duplicates = df[df.duplicated(keep='first')].shape[0] 
duplicates

10

In [7]:
columns=df.columns.tolist()
df[columns[:10]]

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment
0,2023-09-14,Nathaniel,Electronics,Camera,0.01,Colleen Kelly,maryhurst@example.org,"354 Mcdowell Turnpike, Port Charles, CT 95318",908.610.2711x8507,Silver
1,2023-02-11,NonExistentProduct,Electronics,Mobile,847.43,Joel Wright,sandersvictoria@example.org,"24740 Fox Villages, New Tracie, MA 53038",+1-408-938-0389x952,Gold
2,2021-11-12,Angela,InvalidCategory,Action Figures,386.57,Thomas Sawyer,ospence@example.net,"769 Joe Trail, East Terri, CA 43813",001-929-516-1919x39288,Gold
3,11-15-2021,Amy,Home & Garden,Decor,364.01,Tyler Gardner,christopherjohnson@example.com,"27783 Olivia Centers, Williamsmouth, AL 09809",8907712983,Gold
4,2023-04-22,Nathaniel,Electronics,Camera,652.35,Meagan Peterson,epowell@example.net,"25357 Blackwell Locks, Andreabury, MH 27857",9999921886,Gold
...,...,...,...,...,...,...,...,...,...,...
5005,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold
5006,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold
5007,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold
5008,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold
5009,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold

In [8]:
columns=df.columns.tolist()
df[columns[10:]].head(20)

,SupplierName,SupplierLocation,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
0,"Rodriguez, Winters and Perez",Irwinhaven,6538306661,and Sons,Ground,49,31965.15,121.07,31844.08,475,127,348
1,Lawson-Wilkins,Calderonchester,NaN,PLC,Air,73,61862.39,91.09,61771.30,487,243,244
2,Lee-Miller,South Emilyview,+1-588-750-7646,PLC,Sea,89,34404.73,10.56,34394.17,341,188,153
3,Soto-Rivera,West Denise,805-650-6257x5876,LLC,Air,3,1092.03,69.06,1022.97,500,124,376
4,"Rodriguez, Winters and Perez",Irwinhaven,6538306661,Ltd,Sea,75,48926.25,137.17,48789.08,429,351,78
5,Soto-Rivera,West Denise,805-650-6257x5876,Inc,Ground,63,53388.09,103.22,53284.87,79,61,18
6,Soto-Rivera,West Denise,805-650-6257x5876,and Sons,Ground,39,25741.95,104.20,25637.75,339,296,43
7,Campos-Murillo,Lawsontown,822-222-4939,Group,Ground,60,39141.00,121.19,39019.81,305,53,252
8,"Wagner, Jackson and Holt",Port Sarahview,+1-362-752-2777x1817,Inc,Air,92,6256.92,18.11,6238.81,440,338,102
9,White and Sons,West Scott,288-572-7043,PLC,Air,55,20020.55,53.26,19967.29,260,254,6
10,Brown-Miller,Seanfort,(502)758-2166,LLC,Air,23,9961.30,33.11,9928.19,238,161,77
11,"Colon, Palmer and Welch",Antonioshire,230-757-6575x898,and Sons,Sea,1,660.05,56.28,603.77,121,13,108
12,"Mack, Wright and Mclaughlin",Alexandrachester,856-399-9995x715,Group,Ground,93,78137.67,251.64,77886.03,290,147,143
13,Roman-Chambers,Dennischester,001-324-909-1637x2831,and Sons,Sea,60,55818.00,136.73,55681.27,319,94,225
14,"Mathis, Olson and Ryan",Herreraland,(906)306-1777x264,and Sons,Ground,43,18623.30,37.60,18585.70,232,3,229
15,Lee-Miller,South Emilyview,+1-588-750-7646,Inc,Sea,11,10233.30,160.82,10072.48,250,130,120
16,Roman-Chambers,Dennischester,001-324-909-1637x2831,Group,Sea,67,56777.81,104.73,56673.08,214,113,101
17,"Mathis, Olson and Ryan",Herreraland,NaN,LLC,Air,51,23515.59,92.28,23423.31,412,41,371
18,"Mathis, Olson and Ryan",Herreraland,(906)306-1777x264,PLC,Air,6,4160.34,128.46,4031.88,295,93,202
19,Roman-Chambers,Dennischester,001-324-909-1637x2831,Inc,Air,40,37212.00,41.40,37170.60,356,147,209

In [9]:
# Find records with 'NonExistentProduct' in ProductName
non_existent_product = df[df['ProductName'] == 'NonExistentProduct']
non_existent_product

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
1,2023-02-11,NonExistentProduct,Electronics,Mobile,847.43,Joel Wright,sandersvictoria@example.org,"24740 Fox Villages, New Tracie, MA 53038",+1-408-938-0389x952,Gold,...,NaN,PLC,Air,73,61862.39,91.09,61771.30,487,243,244
5,2022-12-08,NonExistentProduct,Electronics,Mobile,847.43,Justin Hodge,NaN,"PSC 1552, Box 7906, APO AP 50694",001-691-442-5371x97648,Gold,...,805-650-6257x5876,Inc,Ground,63,53388.09,103.22,53284.87,79,61,18
7,2023-07-19,NonExistentProduct,Electronics,Camera,652.35,Natasha Thomas,rcole@example.org,"040 Lopez Crossing Apt. 758, Victormouth, RI 5...",998-812-6450x26711,Silver,...,822-222-4939,Group,Ground,60,39141.00,121.19,39019.81,305,53,252
9,2023-07-15,NonExistentProduct,Home & Garden,Decor,364.01,Nathan Good,NaN,"27534 Jennifer Burgs Suite 449, West Lauravill...",322.403.9678x196,Gold,...,288-572-7043,PLC,Air,55,20020.55,53.26,19967.29,260,254,6
14,2022-08-30,NonExistentProduct,Books,Fiction,99999.99,Brenda Allen,kparker@example.org,"4293 Stephanie Dale, Tracyside, MD 42098",638-315-3406x86190,Bronze,...,(906)306-1777x264,and Sons,Ground,43,18623.30,37.60,18585.70,232,3,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,2021-11-22,NonExistentProduct,Electronics,Headphones,651.11,Christina Howard,hilldavid@example.net,"5746 Lane Stream, East Erictown, KS 28122",459.892.3858x236,Silver,...,NaN,LLC,Air,3,1953.33,35.05,1918.28,196,127,69
4971,2023-02-07,NonExistentProduct,Home & Garden,Decor,364.01,Ann Curry,smithjeffrey@example.com,"368 Tara Corner, New Ryanmouth, DC 64385",898.648.1536x27317,Bronze,...,230-568-4141,and Sons,Air,31,11284.31,82.33,11201.98,444,211,233
4980,2023-02-01,NonExistentProduct,Electronics,Headphones,22882.0,Matthew Bishop,jeffrey17@example.org,"5156 Brown Station Suite 678, Floresport, LA 7...",453-476-6996,Bronze,...,853-738-3918,Inc,Air,12,2745.84,60.96,2684.88,427,272,155
4981,2022-07-07,NonExistentProduct,Electronics,Headphones,InvalidPrice,Joseph Woods,colemichelle@example.com,"60300 Castillo Estates, Wendyshire, AR 79280",001-235-899-0561,Silver,...,(906)306-1777x264,Group,Sea,81,37348.29,79.53,37268.76,389,221,168
4995,2023-05-16,NonExistentProduct,Books,Non-fiction,642.11,Miranda Nielsen,kenneththompson@example.org,"329 Reynolds Pike, Port Kathleenmouth, IA 55480",882-498-2608x929,Silver,...,853-738-3918,and Sons,Air,36,23115.96,117.06,22998.90,113,2,111

In [10]:
# Find records with 'InvalidCategory' in ProductCategory
invalid_category = df[df['ProductCategory'] == 'InvalidCategory']
invalid_category

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
2,2021-11-12,Angela,InvalidCategory,Action Figures,386.57,Thomas Sawyer,ospence@example.net,"769 Joe Trail, East Terri, CA 43813",001-929-516-1919x39288,Gold,...,+1-588-750-7646,PLC,Sea,89,34404.73,10.56,34394.17,341,188,153
12,2023-09-19,Elizabeth,InvalidCategory,Shirt,840.19,Kelly Reyes,jennifer34@example.com,"40206 Aguilar Mall Suite 062, Port Melissahave...",+1-672-967-4216,Bronze,...,856-399-9995x715,Group,Ground,93,78137.67,251.64,77886.03,290,147,143
22,2023-05-17,Fred,InvalidCategory,Academic,99999.99,David Smith,valexander@example.net,"11174 Debbie Ramp, Phamport, SD 62654",3707630116,Gold,...,(277)930-2705x3206,Group,Sea,8,7612.24,163.58,7448.66,321,104,217
34,2022-10-04,Martha,InvalidCategory,Fiction,433.1,Christina Turner,andreakane@example.com,"Unit 9660 Box 4141, DPO AP 96032",848-950-9983x1925,Silver,...,230-757-6575x898,Inc,Air,37,16024.70,93.32,15931.38,225,192,33
38,2022-04-10,Angela,InvalidCategory,Action Figures,386.57,Amy Watkins,thomas17@example.net,"313 Jessica Summit Apt. 110, Port Debrashire, ...",645.998.8051x74261,Gold,...,001-324-909-1637x2831,and Sons,Ground,59,22807.63,92.33,22715.30,322,259,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2022-04-24,Wanda,InvalidCategory,Educational,InvalidPrice,Austin Ramos,NaN,"421 Robin Points, Mitchellhaven, MA 48535",(385)480-5571x9048,Silver,...,933.564.7029x6917,Inc,Ground,14,3760.54,73.04,3687.50,462,443,19
4979,2022-04-30,Tammy,InvalidCategory,Furniture,431.82,Joshua Webb,wintersashley@example.org,"USS Todd, FPO AA 15210",218.378.2443,Silver,...,001-575-242-3572x740,and Sons,Ground,12,5181.84,77.83,5104.01,126,45,81
4982,2021-11-24,Tammy,InvalidCategory,Furniture,431.82,Mary Anderson,egoodwin@example.com,"016 Michael Highway Suite 673, Gonzalezberg, A...",905.940.6683x6693,Bronze,...,+1-619-677-8121x28226,PLC,Sea,19,8204.58,55.72,8148.86,397,106,291
4988,2022-11-04,Wanda,InvalidCategory,Educational,268.61,Jordan Garcia,william03@example.org,"962 Doyle Plaza Apt. 503, Salazarland, MA 36225",+1-416-203-1437x444,Bronze,...,6538306661,and Sons,Sea,19,5103.59,28.56,5075.03,302,103,199
4993,2021-11-15,Angela,InvalidCategory,Action Figures,386.57,Carolyn Lee,knorton@example.net,"65892 Marco Knolls Apt. 673, Port Judychester,...",+1-785-415-0842x71965,Silver,...,230-757-6575x898,and Sons,Air,57,22034.49,114.08,21920.41,109,80,29

In [11]:
# Find records with 'InvalidPrice' in ProductPrice
invalid_price = df[df['ProductPrice'] == 'InvalidPrice']
invalid_price

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
23,2022-04-19,NonExistentProduct,Home & Garden,Decor,InvalidPrice,Yolanda Alexander,wmathews@example.com,"14472 Daniel Ferry Suite 910, Bergerview, NC 3...",391-513-3252,Silver,...,NaN,and Sons,Ground,48,17472.48,106.46,17366.02,210,10,200
33,2022-03-25,Amy,Home & Garden,Decor,InvalidPrice,Jasmine Gillespie,kathrynrivera@example.org,"93712 Christopher Locks, North Colton, OR 35884",568.399.4652x178,Silver,...,288-572-7043,Ltd,Air,13,4732.13,42.55,4689.58,349,161,188
51,2022-11-05,Michael,InvalidCategory,Dolls,InvalidPrice,Janet Thomas,juliajones@example.org,"1739 Tracey Valley Apt. 827, New Amyport, AL 2...",+1-580-471-2838x23612,Gold,...,288-572-7043,LLC,Ground,83,3837.09,6.69,3830.40,427,49,378
54,05-03-2023,Shannon,Home & Garden,Gardening Tools,InvalidPrice,Larry Garcia,harrissteven@example.com,"PSC 2149, Box 6137, APO AP 27925",+1-382-225-4189x65247,Gold,...,+1-362-752-2777x1817,and Sons,Air,17,1156.17,3.52,1152.65,500,355,145
67,01-14-2023,Michael,Toys,Dolls,InvalidPrice,Sarah French,rwhite@example.com,"PSC 9182, Box 1274, APO AA 25807",001-552-975-3550x49988,Silver,...,+1-619-677-8121x28226,Ltd,Air,98,4530.54,9.42,4521.12,286,222,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4944,2023-08-13,Pamela,Electronics,Headphones,InvalidPrice,David Carpenter,NaN,"84471 David Hill, West Gregory, AS 04410",(761)797-1976,Bronze,...,933.564.7029x6917,PLC,Ground,89,57948.79,156.30,57792.49,357,144,213
4956,2022-07-07,Amy,Home & Garden,Decor,InvalidPrice,James Mcfarland,peckashley@example.org,"23384 Julia Mountain, Davisfurt, AS 44410",813-656-7599,Bronze,...,7724600682,Ltd,Sea,82,29848.82,37.78,29811.04,268,185,83
4966,2022-05-10,Cynthia,Electronics,Headphones,InvalidPrice,Suzanne Hill,susanharvey@example.org,"1622 Welch Stravenue Suite 461, Riversport, IN...",(644)288-8326,Silver,...,933.564.7029x6917,and Sons,Ground,29,25312.65,30.10,25282.55,384,297,87
4970,2022-04-24,Wanda,InvalidCategory,Educational,InvalidPrice,Austin Ramos,NaN,"421 Robin Points, Mitchellhaven, MA 48535",(385)480-5571x9048,Silver,...,933.564.7029x6917,Inc,Ground,14,3760.54,73.04,3687.50,462,443,19
4981,2022-07-07,NonExistentProduct,Electronics,Headphones,InvalidPrice,Joseph Woods,colemichelle@example.com,"60300 Castillo Estates, Wendyshire, AR 79280",001-235-899-0561,Silver,...,(906)306-1777x264,Group,Sea,81,37348.29,79.53,37268.76,389,221,168

In [9]:
pn = df['ProductName'].unique()
pn

array(['Nathaniel', 'NonExistentProduct', 'Angela', 'Amy', 'Justin',
       'Shannon', 'Martha', 'Elizabeth', 'Jamie', 'Robert', 'Shawn',
       'Anthony', 'Pamela', 'Fred', 'Wanda', 'Cynthia', 'Marvin', 'Katie',
       'Tammy', 'Michael', 'Kristine'], dtype=object)

In [10]:
pc = df['ProductCategory'].unique()
pc

array(['Electronics', 'InvalidCategory', 'Home & Garden', 'Books',
       'Clothing', 'Toys'], dtype=object)

In [11]:
ps = df['ProductSubCategory'].unique()
ps

array(['Camera', 'Mobile', 'Action Figures', 'Decor', 'Headphones',
       'Gardening Tools', 'Fiction', 'Shirt', 'Academic', 'Educational',
       'Non-fiction', 'Dolls', 'Furniture'], dtype=object)

In [12]:
sn = df['SupplierName'].unique()
sn

array(['Rodriguez, Winters and Perez', 'Lawson-Wilkins', 'Lee-Miller',
       'Soto-Rivera', 'Campos-Murillo', 'Wagner, Jackson and Holt',
       'White and Sons', 'Brown-Miller', 'Colon, Palmer and Welch',
       'Mack, Wright and Mclaughlin', 'Roman-Chambers',
       'Mathis, Olson and Ryan', 'Peck Group', 'Ramirez, Hicks and Lara',
       'Smith PLC', 'Gilbert, Miller and Lee', 'Higgins and Sons',
       'King-Rodriguez', 'Randall-Ballard', 'Thornton, Jackson and Gray'],
      dtype=object)

In [13]:
sl = df['SupplierLocation'].unique()
sl

array(['Irwinhaven', 'Calderonchester', 'South Emilyview', 'West Denise',
       'Lawsontown', 'Port Sarahview', 'West Scott', 'Seanfort',
       'Antonioshire', 'Alexandrachester', 'Dennischester', 'Herreraland',
       'West Lindafurt', 'Dustinmouth', 'Lake Candiceton',
       'Lake Juanland', 'West Johnbury', 'South Lindatown', 'Popeport',
       'Leslieville'], dtype=object)

In [14]:
shn = df['ShipperName'].unique()
shn

array(['and Sons', 'PLC', 'LLC', 'Ltd', 'Inc', 'Group'], dtype=object)

In [15]:
shm = df['ShippingMethod'].unique()
shm

array(['Ground', 'Air', 'Sea'], dtype=object)

In [74]:
# List the names of the four columns you want to use for checking duplicates
columns_to_check = ['QuantitySold', 'TotalAmount', 'DiscountAmount', 'NetAmount']

# Use the 'duplicated' method on the specified columns
duplicates = df.duplicated(subset=columns_to_check, keep='first')  # 'keep' can be 'first', 'last', or False

# The 'duplicates' Series will have True for rows that are duplicates based on the specified columns.

# If you want to see the rows that are duplicates, you can filter the DataFrame:
duplicate_rows = df[duplicates]

duplicate_rows

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
5000,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5001,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5002,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5003,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5004,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5005,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5006,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5007,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5008,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5009,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42

In [37]:
# uni = df.groupby('ProductID')['Price'].unique()
# uni

In [38]:
# uni = df.groupby('WarehouseID')['InventoryID'].unique()
# uni

In [39]:
# uni = df.groupby('WarehouseID')['InventoryID'].unique()
# uni

In [40]:
# name = df[df['SupplierContact'] == 'NaN']
# name

In [41]:
# duplicates = df[df['Location'].duplicated(keep=False)]

# duplicate_names = duplicates['Location'].unique()

# duplicates

In [17]:
# aa=df['UserSegment'].unique()
# aa

In [16]:
# zero = df[df['Price'] == 0].shape
# zero

In [7]:
# zero = df[df['Quantity'] == 0]
# zero

In [8]:
# lap = df[df['Product Name'] == 'LaptopPro']
# lap

In [9]:
# # Sort the DataFrame by the 'Name' column
# df_sorted = df.sort_values(by='Name')
# df_sorted

In [10]:
# duplicates = df[df['Name'].duplicated(keep=False)]

# duplicate_names = duplicates['Name'].unique()

# filtered_rows = df[df['Name'].isin(duplicate_names)]

# filtered_rows

In [11]:
# import matplotlib.pyplot as plt
# # Replace 'Age' with the name of the column you want to check for outliers
# column_name = 'Price'

# # Create a scatter plot to visualize outliers
# plt.figure(figsize=(8, 6))
# plt.scatter(range(len(df[column_name])), df[column_name])
# plt.title(f'Scatter Plot of {column_name}')
# plt.xlabel('Index')
# plt.ylabel(column_name)
# plt.show()

In [12]:
# filtered_rows = df[df['Age'] < 100 ]
# filtered_rows

In [13]:
# columns_with_nan = df.columns[df.isnull().any()]

# print("Columns with NaN values:")
# print(columns_with_nan)

In [14]:
# import pandas as pd

# # Assuming you have a DataFrame named 'df'
# # Replace 'df' with your actual DataFrame name

# # Iterate through each column
# for column in df.columns:
#     # Check if any value in the column contains a hyphen
#     if df[column].astype(str).str.contains('-').any():
#         print(f"Column '{column}' contains values with a hyphen.")

In [15]:
# column_values = df['FullAddress']

# print(column_values)